img{
    position : absolute;
    height: 200vh;
    width:200vh;
}
.container {
    display: flex;
    justify-content:center;
    align-items:center;
}

p{
    font-weight:bold;
    font-family:Verdana,Geneva,Tahoma, sans-serif
    font-size: 26px;


}
.container  .form{
    position: relative;
    border: 2px solid;
    width: 300 px;
    height: 400px;
    text_align: center;
    justify-content:center;
    border-radius: 50 px;
    background-color: violet;
}
.inputform {
    font-family:Verdana, Geneva, Tahoma, sans-serif
    position: relative;
    padding: 15px;
    marqin-bottom :5px;
}